<!DOCTYPE html>

<html>
<head>
	<title>Gate</title>
	<style type="text/css">
	body {
		background-color: #dadf00;
	}
	html,body,.body,img{
		max-width: 100%;

	}

	</style>
</head>

<body>
	<header></header>
	<div class="body">
		<center>
			<img src="/statics/img/gate/gate-demo.jpg" border="0" usemap="#gatemap"/>
			<map name="gatemap" id="gatemap">
				<area shape="rect" coords="180,139,14" href ="/company"  />
				<area shape="rect" coords="129,161,10" href ="/person" />
			</map>
		</center>
	</div>
	<footer></footer>
</body>
</html>