<!DOCTYPE html>
<html>
<head>
	<title>{{.title}}</title>
	<link rel="stylesheet" type="text/css"/>
	<!--[if lt IE9]> 
    <script type="text/jsvascript" src="/statics/js/html5.js"></script>
	<![endif-->
	<script type="text/javascript" src="/statics/js/jQuery.js"></script>
	<link href="/statics/css/common.css" rel="stylesheet"/>
	<link href="/statics/css/footer.css" rel="stylesheet"/>
	<link href="/statics/css/header.css" rel="stylesheet"/>
</head>
<body>
	<header>
	<div></div>
	<div>
		<hr/>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<hr/>
	</div>
	</header>